<h2>Sign up</h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <%= f.input :name, :autofocus => true, :required => true, :label => "用户名" %>
  <%= f.input :email, :required => true, :label => "邮箱地址" %>
  <%= f.input :password, :required => true, :label => "密码" %>
  <%= f.input :password_confirmation, :required => true, :label => "确认密码" %>
  <%= f.button :submit, '注册', :class => 'btn-primary btn-large' %>
<% end %>
<%= render "devise/shared/links" %>
